{% extends 'base.html.twig' %}

{% block content %}
    <div id="users">
        <h2>Users</h2>
        <form method="get" action="{{ path('users') }}" class="quick-search">
            <input type="text" placeholder="User name" value="{{ filtervariables.q }}" name="q">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        {% include 'common/pagination.html.twig' with {
            currentFilters: filtervariables,
            currentPage: page,
            paginationPath: "users",
            lastPage: totalPages,
            showAlwaysFirstAndLast: true
        } only %}
        <div class="table">
            <table class="datagrid">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Sex</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, user in users %}
                        <tr class="{{ key%2 ? 'odd' : 'even' }}">
                            <td>{{ user.id }}</td>
                            <td><a href="{{ path('user-edit', {id: user.id}) }}">{{ user.username }}</a></td>
                            <td>{{ user.firstName }} {{ user.lastName }}</td>
                            <td>{{ user.age }}</td>
                            <td>
                                {% if user.sex %}
                                    Female
                                {% else %}
                                    Male
                                {% endif %}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                        </tr>
                    {% else %}
                        <tr><td colspan="6" class="no-results">No users in the DB</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'common/pagination.html.twig' with {
            currentFilters: filtervariables,
            currentPage: page,
            paginationPath: "users",
            lastPage: totalPages,
            showAlwaysFirstAndLast: true
        } only %}
    </div>
{% endblock %}
