<div class="image-container">
    <img src="thumbnail/{{ image.localPath }}" style="{{ (image.height > image.width) ? "max-width" : "max-height" }}: 100%" data-width="{{ image.width }}" data-height="{{ image.height }}" data-delete="{{ path('image-delete', {id: image.id}) }}"  data-revoke="{{ path('image-revoke', {id: image.id}) }}">
    {% include 'images/edit.html.twig' with {
        image:image
    } only
    %}
    <i class="fas fa-redo image-remove-icon"></i>
</div>